@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
  font-family: "Source Sans Pro";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #222222;
  text-decoration: none;
}

.wrapper {
  width: 960px;
  margin: auto;
}

.topNav {
  position: fixed;
  top: 45px;
  z-index: 15;
  left: 0px;
  right: 0px;
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav__menuBtn {
  position: relative;
  border: 0px;
  background: transparent;
  height: 16px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.topNav__menuBtn__line {
  width: 20px;
  height: 4px;
  display: block;
  background-color: #000;
}

.topNav__logo {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
}

.topNav__logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.topNav__logo__link img {
  margin-right: 10px;
}

.topNav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topNav__list__item {
  font-size: 22px;
  margin-left: 18px;
}

.showFullScreenMenu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.fullScreenBtnStyle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.fullScreenBtnStyle .topNav__menuBtn__line {
  background-color: #898989;
  position: absolute;
  -webkit-transition: transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.fullScreenBtnStyle .topNav__menuBtn__line--first {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fullScreenBtnStyle .topNav__menuBtn__line--second {
  display: none;
}

.fullScreenBtnStyle .topNav__menuBtn__line--third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pageScrollAnimation {
  -webkit-transition: top 1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: top 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.hideElementsInTopNav > *:not(.topNav__menuBtn) {
  display: none;
}

.transparentBg {
  background-color: transparent !important;
}

.fullScreenMenu {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullScreenMenu__list__item {
  margin: 4px 0px;
}

.fullScreenMenu__list__item__link {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  padding: 4px 40px;
  border: 2px solid transparent;
  color: #898989;
}

.fullScreenMenu__list__item__link--active {
  border-color: #898989;
}

.fullScreenMenu__list__item__link:hover {
  border-color: #898989;
}

.container {
  position: relative;
  top: 0px;
  /* transition: 1s cubic-bezier(0.5, 0, 0.5, 1); */
  /* top: -100vh; */
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.page--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fcdb00;
  position: relative;
}

.page--home .downArrow {
  position: absolute;
  bottom: 45px;
  width: 25px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  font-size: 32px;
  background: transparent;
  padding: 3px;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.page--home .downArrow:hover {
  bottom: 35px;
}

.page--home .inspirationBox {
  text-align: center;
}

.page--home .inspirationBox__heading {
  font-size: 48px;
  font-weight: bold;
}

.page--home .inspirationBox__paragraph {
  font-size: 20px;
  max-width: 500px;
  margin: 20px auto 40px auto;
}

.page--home .inspirationBox__link {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 72px;
  border: 2px solid #222222;
  display: inline-block;
}

.page--home .inspirationBox__link:hover {
  color: #898989;
  background-color: #222222;
  color: #fcdb00;
}

.page--features .featuresList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
}

.page--features .featuresList__item {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.page--features .featuresList__item i {
  margin-right: 30px;
  font-size: 50px;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.page--features .featuresList__item div {
  width: 210px;
}

.page--features .featuresList__item__heading {
  font-size: 22px;
  margin-bottom: 15px;
  color: #222222;
}

.page--features .featuresList__item__description {
  font-size: 16px;
  color: #898989;
}

.page--pricing .pricingList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}

.page--pricing .pricingList__item {
  text-align: center;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 40px;
}

.page--pricing .pricingList__item:nth-of-type(even) i {
  color: #fff;
  background-color: #010101;
}

.page--pricing .pricingList__item i {
  font-size: 48px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  color: #010101;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.page--pricing .pricingList__item__heading {
  font-size: 24px;
  margin: 25px 0px;
}

.page--pricing .pricingList__item__description {
  font-size: 14px;
  line-height: 24px;
  color: #898989;
  margin-bottom: 40px;
}

.page--pricing .pricingList__item__price {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

.page--pricing .pricingList__item__price:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #010101;
  position: absolute;
  bottom: -5px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.page--pricing .pricingList__item__duration {
  font-size: 16px;
  color: #898989;
  margin-bottom: 35px;
}

.page--pricing .pricingList__item__link {
  font-size: 16px;
  border: 2px solid #222222;
  color: #222222;
  padding: 12px 15px;
  font-weight: 700;
}

.page--pricing .pricingList__item__link:hover {
  color: #fff;
  background-color: #010101;
}

.page--works .worksList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.page--works .worksList__item {
  margin-bottom: 40px;
  width: 220px;
}

.page--works .worksList__item__imgCont {
  height: 220px;
  position: relative;
}

.page--works .worksList__item__imgCont__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page--works .worksList__item__imgCont__views, .page--works .worksList__item__imgCont__date {
  position: absolute;
  color: #fff;
  bottom: 12px;
  font-size: 14px;
  width: 60px;
  left: 12px;
  background-image: url("../imgs/eye.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 27px;
}

.page--works .worksList__item__imgCont__date {
  left: auto;
  padding-left: 0px;
  width: 80px;
  background-image: url("../imgs/clock.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 35px;
  right: 12px;
}

.page--works .worksList__item__heading {
  text-align: center;
  font-size: 22px;
  color: #010101;
  margin: 18px 0px 5px 0px;
}

.page--works .worksList__item__category {
  text-align: center;
  font-size: 16px;
  color: #898989;
  display: block;
}

.page--team .teamList {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page--team .teamList__item {
  width: 170px;
  text-align: center;
}

.page--team .teamList__item__name {
  margin: 40px 0px 5px 0px;
  font-weight: 400;
  font-size: 22px;
  color: #010101;
}

.page--team .teamList__item__profession {
  font-size: 16px;
  color: #898989;
  display: block;
  margin-bottom: 10px;
}

.page--team .teamList__item__description {
  font-size: 14px;
  color: #313841;
  display: block;
  margin-bottom: 10px;
}

.page--team .teamList__item__icons {
  color: #010101;
  font-size: 16px;
}

.page--team .teamList__item__icons a {
  margin: 0px 4px;
}

.page--team .teamList__item__icons a:first-child {
  position: relative;
  top: 1px;
}

.page--team .teamList__item__icons a:nth-child(2) {
  position: relative;
  top: 1px;
}

.page--testimonial .testimonialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.page--testimonial .testimonialList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 55px;
}

.page--testimonial .testimonialList__item:nth-of-type(1) i {
  position: relative;
  left: 6px;
}

.page--testimonial .testimonialList__item i {
  font-size: 48px;
  color: #222222;
  margin-bottom: 10px;
}

.page--testimonial .testimonialList__item__quantity {
  font-size: 24px;
  font-weight: 700;
}

.page--testimonial .testimonialList__item__info {
  font-size: 14px;
  color: #898989;
}

.page--testimonial .feedbackList {
  margin-top: 75px;
}

.page--testimonial .feedbackList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page--testimonial .feedbackList__item__img {
  margin-bottom: 10px;
}

.page--testimonial .feedbackList__item__name {
  font-size: 22px;
  color: #010101;
}

.page--testimonial .feedbackList__item__job {
  font-size: 16px;
  color: #898989;
  margin-bottom: 24px;
  margin-top: 2px;
}

.page--testimonial .feedbackList__item__paragraph {
  font-size: 20px;
  width: 500px;
  color: #898989;
  position: relative;
}

.page--testimonial .feedbackList__item__paragraph:before {
  content: "\f10d";
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: -40px;
  top: 5px;
  font-size: 20px;
  color: #898989;
}

.page--testimonial .feedbackList__item__paragraph:after {
  content: "\f10e";
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  right: -40px;
  bottom: 5px;
  font-size: 20px;
  color: #898989;
}

.page__heading {
  text-align: center;
  font-size: 32px;
  padding-top: 40px;
  padding-bottom: 25px;
  max-width: 400px;
  margin: auto;
}

.page__description {
  display: block;
  margin: auto;
  max-width: 720px;
  text-align: center;
  font-size: 20px;
  color: #898989;
}

::-webkit-scrollbar {
  /* width: 0px; */
  /* background: transparent;  */
  display: none;
}
/*# sourceMappingURL=style.css.map */