// ===WIDTH/HEIGHT===
$page-width: 100%;
$page-height: 100vh;
$wrapper-width: 960px;
// ===COLORS===
$primary-color: #222222;
$secondary-color: #898989;
$tertiary-color: #010101;
$home-page-gb: #fcdb00;

// ===FONT SIZES===
